header {
    background-color: #3700ff7a;
}

body {
    min-height: 100%;
}
  
html {
    min-height: 100%;
    background-color: #58b3e775; 
}

main {
    background-color: #58b3e775;
    height: 100vh;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10%;
    border: 2pt solid black;
    margin: 2rem;
    margin-top: 0;
}

#user-card {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    display: flex;
    width: 80%;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.skill-lists {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.delete {
    background: #ff5454;
    color: white;
    font-size: .75rem;
    border-radius: 10rem; 
    float: right;
}

.add-skill {
    border-radius: 10rem; 
}

.custom-file {
    width: 50%;
}

.photo-label-input {
    border: 1pt solid black;
    cursor: pointer;
}

.add-skill-input {
    border: 1pt solid black;
}

.textarea-control {
    height: 10rem;
    border: 1pt solid black;
}

.bio-header::before {
    content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
}

.bio-header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.bio-header {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

.form-padding {
    padding-top: 1rem;
}

.name-input-box {
    font-size: 18pt;
    text-align: center;
}

.center-vertical-form {
    display: inline-block;
    vertical-align: middle;
}

.center-vertical-form::before {
    content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
}

.center-vertical-form::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.form-right {
    float: right;
}

.main-photo {
    width: 50%;
}

.name-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-upload-input-div {
    padding-bottom: 2rem;
}

.rounded-input {
    border-radius: 5%;
    margin-top: 1rem;
    width: 50%;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

.powerful-delete-btn {
    margin-top: 3rem;
    height: 5rem;
    width: 10rem;
    font-size: 14pt;
}