#cards-div {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.user-card {
  padding: 1rem;
}

main {
  background-color: #58b3e775;
  height: 100vh;
}

header {
  background-color: #3700ff7a;
}

.flip-card {
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden;
  padding-top: 1rem;
  border: 5pt solid black;
  border-radius: 10%;
}

.flip-card-front {
  background-color: #3700ff7a;
  color: black;
}

.flip-card-back {
  background-color: #3700ff7a;
  color: black;
  transform: rotateY(180deg);
}

ul .skill-list-item::before {
  content: "\2022";
  color: black; 
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.email-link {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: black;
}